@{

    var book = "";
    var chapter = "";
    var verse = "";
    var notes = "";

    var id = UrlData[0];
    if (id.IsEmpty())
    {
        Response.Redirect("~/Scriptures");
    }

    var db = Database.Open("Scriptures");
    var row = db.QuerySingle("SELECT * FROM Scriptures WHERE Id=@0", id);

    book = row.Book;
    chapter = row.Chapter;
    verse = row.Chapter;
    notes = row.Notes;

    if (IsPost && !id.IsEmpty())
    {
        var queryString = "DELETE FROM Scriptures WHERE Id=@0";

        db.Execute(queryString, id);
        Response.Redirect(Href("~/Scriptures"));
    }
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Delete @book @chapter : @verse | My Scripture Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <main role="main">
        <header>
            <h1>Delete @book @chapter:@verse</h1>
        </header>

        <article class="content">
            <form id="new-entry" method="post">
                <label>
                    Book:
                    <input type="text" name="book" value="@book" disabled />
                </label>

                <label>
                    Chapter:
                    <input type="text" name="chapter" value="@chapter" disabled />
                </label>

                <label>
                    Verse:
                    <input type="text" name="verse" value="@verse" disabled/>
                </label>

                <label>
                    Notes:
                    <textarea type="text" name="notes" disabled>@notes</textarea>
                </label>

                <div class="button-group">
                    <a href="~/Scriptures" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </article>
    </main>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
